<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-10 h-100 p-0 bg-light">
            <div id="video" class="bg-black">
                <div *ngIf="!videoId" id="instructions" class="d-flex text-center align-items-center">
                    <h1 class="col"><i class="col fa-solid fa-ghost"></i> This ghost will haunt you until you paste a
                        YouTube link below</h1>
                </div>
                <youtube-player #yt [videoId]="videoId" [height]="height" [width]="width" [startSeconds]="time"
                    [playerVars]="playerVars" (ready)="onReady($event)" (stateChange)="onStateChange($event)">
                </youtube-player>
            </div>
            <div id="menu" class="container-fluid">
                <div id="menu-items" class="row align-items-center">
                    <div class="col row">
                        <div id="code-group" class="col-12">
                            <div class="input-group input-group-sm w-75 mx-auto">
                                <label for="room-id" class="input-group-text">Room Code</label>
                                <input id="room-id" type="text" [value]="lobbyId"
                                    class="form-control shadow-none bg-white" disabled>
                                <button ngxClipboard [cbContent]="lobbyId" class="btn"><i
                                        class="fa-solid fa-copy"></i></button>
                            </div>
                        </div>
                        <div id="link-group" class="col">
                            <div class="input-group input-group-sm w-75 mx-auto">
                                <label for="room-link" class="input-group-text">Room Link</label>
                                <input id="room-link" type="text" [value]="lobbyLink"
                                    class="form-control shadow-none bg-white" disabled>
                                <button ngxClipboard [cbContent]="lobbyLink" class="btn"><i
                                        class="fa-solid fa-copy"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <form (ngSubmit)="updateVideoId()" #videoIdForm="ngForm">

                            <div class="input-group w-75 mx-auto">
                                <label for="videoIdInput" class="input-group-text">YouTube Link:</label>
                                <input id="videoIdInput" type="text" [(ngModel)]="videoLink" name="videoInput" min="1"
                                    class="form-control shadow-none">
                                <button type="submit" class="btn"><i class="fa-brands fa-youtube"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <form (ngSubmit)="updateNickname()" #nicknameForm="ngForm">
                            <div class="input-group w-75 mx-auto">
                                <label for="nickname" class="input-group-text">Name:</label>
                                <input id="nickname" type="text" [(ngModel)]="nickname" name="code" minlength="6"
                                    maxlength="6" class="form-control shadow-none">
                                <button type="submit" class="btn input-group-append"><i
                                        class="fa-solid fa-save"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="chat" class="col-2 p-0 h-100">

            <div id="chatBox">
                <app-chat-box [messages]="messageLog"></app-chat-box>
            </div>

            <div id="chatForm">
                <form (ngSubmit)="send()" #chatForm="ngForm">
                    <input id="chatInput" type="text" [(ngModel)]="message" name="chatMessage"
                        class="w-100 form-control border-bottom-0 border-start-0 border-end-0 border-dark shadow-none rounded-0">
                    <button type="submit" (click)="send()" id="chatButton"
                        class="btn border-start-0 border-end-0 border-bottom-0 border-dark rounded-0 w-100">Send
                        Message</button>
                </form>
            </div>

        </div>
    </div>
</div>