@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.system {
    font-style: italic;
}

.chat {
    color: black;
}

#instructions {
    color: white;
}

#chatBox, #video, #instructions {
    height: calc(100% - 84px);
}

#chatBox {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 0px;
}

#innerChat {
    width: 95%;
    height: 98%;
    /*background-color: rgb(143, 143, 143);
    background-color: rgb(48, 48, 48);*/
    border-radius: 10px;
}

#chatForm {
    background-color: black;
    padding-bottom: 5px;
    height: 84px;
}

#chatInput, #chatButton {
    width: 95%;
}

#chatInput {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#chatButton {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar {
    /*background-color: rgb(48, 48, 48);*/
}

.btn {
    background-color: rgb(0, 174, 255);
    color: black;
}

#menu {
    height: 84px;
    background-color: black;
}

#menu-items {
    padding-top: 10px;
    padding-bottom: 5px;
}

#code-group {
    margin-bottom: 2px;
}

#link-group {
    margin-top: 2px;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message {
    margin: 3px;
    color: rgb(209, 209, 209);
}

#bottom {
    height: calc(100% - 56px);
}

#start {
    width: auto;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar
{
	width: 12px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
